---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Divider from "../../components/Divider.astro"


// Esse aqui é para todas as rotas, para o astro fazer o mapeamento
export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { slug: note.data.slug },
    props: { note },
  }));
}

interface Props {
  note: CollectionEntry<"notes">;
}

//Mapeamento individual da nota, recebendo somente uma nota
const { note } = Astro.props as Props;
---

<Layout>
  <div class="wrap">
    <h1>{note.data.title}</h1>
    <Divider />
    <p>{note.data.description ?? "Sem descrição"}</p>
    {note.data.content.map((content) => (
      <p>{content}</p>
    ))}
  </div>
  
</Layout>

<style>

  .wrap {
    position: relative;
    z-index: 1;
    max-width: 860px;
    margin: 0 auto;
    padding: 90px 20px 80px;
  }

</style>

