---
import Layout from '../../layouts/Layout.astro';
import ReportsCards from '../../components/ReportsCards.astro';
import reportsData from '../../data/writeups.json';
---

<Layout>
  <main class="wrap reports-index">
    
    <h1>All Reports & Write-Ups</h1>
    
    <div class="reports-list">
      <ReportsCards reports={reportsData} max={reportsData.length}/>
    </div>
  </main>
</Layout>

<style>
  .wrap {
    position: relative;
    z-index: 1;
    max-width: 860px;
    margin: 0 auto;
    padding: 90px 10px 0px;
  }

  .back-link {
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s ease;
  }

  .back-link:hover {
    margin-left: 0.5rem;
  }

  .reports-index h1 {
    margin: 0 0 2rem 0;
    font-size: 2rem;
  }

  .reports-list {
    margin-top: 1.5rem;
  }
</style>
